:host
{
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: min-content auto;
    height: 100%;
}

main
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    form
    {
        display: flex;
        flex-direction: column;
    }
}