<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <div *ngIf="user">
            <h1>{{user.firstName}} {{user.lastName}}</h1>
            <h4>{{user.email}}</h4>
            <button
                routerLink="account"

                mat-raised-button
                color="primary"
            >
                Account
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Registro Elettronico</span>
            <span class="spacer"></span>
            <button
                *ngIf="user"

                mat-icon-button
                matTooltip="Esci"
                (click)="auth.signOut()"
            >
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet *ngIf="canLoad"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>