<main *ngIf="user">
    <div *ngIf="admin">
        <!-- ADMIN -->
        <mat-tab-group>
            <mat-tab label="Classi">
                <class-list [classes]="classList"></class-list>
            </mat-tab>
            <mat-tab label="Utenti">
                <ng-template matTabContent>
                    <mat-tab-group>
                        <mat-tab label="Amministratori">
                            <user-list [admins]="adminList"></user-list>
                        </mat-tab>
                        <mat-tab label="Studenti">
                            <user-list [students]="studentList"></user-list>
                        </mat-tab>
                        <mat-tab label="Insegnanti">
                            <user-list [teachers]="teacherList"></user-list>
                        </mat-tab>
                    </mat-tab-group>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div *ngIf="student">
        <!-- STUDENT -->
    </div>
    <div *ngIf="teacher">
        <!-- TEACHER -->
        <h1>Le mie classi</h1>
        <class-list [classes]="classList"></class-list>
    </div>
</main>