<main *ngIf="user">
    <div *ngIf="admin">
        <!-- ADMIN -->
        <mat-tab-group>
            <mat-tab label="Classi">
                <class-list [classes]="classList"></class-list>
            </mat-tab>
            <mat-tab label="Utenti">
                <user-list
                    [admins]="adminList"
                    [students]="studentList"
                    [teachers]="teacherList"
                ></user-list>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div *ngIf="student">
        <!-- STUDENT -->
    </div>
    <div *ngIf="teacher">
        <!-- TEACHER -->
        <h1>Le mie classi</h1>
        <class-list [classes]="classList"></class-list>
    </div>
</main>